button {
    background: transparent;
    color: aliceblue;
    transition: transform 0.15s;

    &:active:focus {
        transform: scale(0.95);
    }

    &.primary {
        color: var(--primary);
        border: 1px solid var(--primary);
        border-radius: 10rem;
        padding: 0.75rem 1rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background: var(--primary);
            color: var(--background);
        }
    }
}
