*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin: 0;
    background: var(--background);
    color: var(--colour);
}

h3 {
    margin: 0;
}

svg {
    height: 1.5rem;
    width: 1.5rem;
}
