.item {
    display: flex;
    cursor: pointer;
    align-items: center;

    & .head {
        flex: 1;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;

        & > * {
            width: 50%;
        }

        &:hover {
            background: var(--background-secondary);
        }
    }

    &.active .head {
        background: var(--background-secondary);
    }
}
