footer {
    background: var(--background-secondary);
    padding: 0.25rem 1rem;
    display: flex;
    gap: 10rem;
}

.art {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    & > div * {
        display: block;
    }
}

.controls {
    flex: 1;
    display: flex;
    gap: 1rem;

    input {
        width: 100%;
    }
}

.audio {
    display: flex;
    gap: 1rem;
    align-items: center;
}
