:root {
    --background: #020617;
    --background-secondary: #0F172A;
    --colour: aliceblue;
    --colour-secondary: darken(aliceblue, 10%);
    --accent: #FB7185;
    --border-colour: #334155;

    --background-input: #1E293B;
}

[theme="light"] {
}
