:root {
    --background: #F5F5F5;
    --color: #09090B;
    --background-accent: white;
    --border-color: #DDD;

    --button-background: white;
    --button-hover-background: #E8E8E8;
}

[theme="dark"] {
    --background: #1E293B;
    --color: aliceblue;
    --background-accent: #151F33;
    --border-color: #233355;

    --button-background: #0F172A;
    --button-color: #0F172A;
    --button-hover-background: #16213C;
}